
header{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    }
    th{
        text-align: left;
    
    }
    th, td {
        padding: 15px;
      }
    td {
        height: 50px;
        vertical-align: bottom;
      }
      tr:hover {background-color: yellow;}
      tr:nth-child(even) {background-color: #f2f2f2;}
      th {
        background-color: #04AA6D;
        color: rgb(30, 29, 29);
      }
      input {
        background-color: #3CBC8D;
        color: white;
      }
      input[type=text]:focus {
        background-color: lightblue;
      }
      h1{
        color:red;
      }
    