/* AddProduct component styles */
.container {
    margin-top: 50px;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .card-header {
    background: rgb(136,122,128);
    background: linear-gradient(90deg, rgba(136,122,128,0.36747198879551823) 0%, rgba(7,54,43,0.7316176470588236) 20%, rgba(131,165,216,1) 100%);
    color: white;
    padding: 10px;
    border-radius: 8px 8px 0 0;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .form-control {
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding: 10px;
  }
  
  .btn-primary {
    background-color: #eef0f1;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #c6cbd0;
  }
  
  .text-center {
    text-align: center;
  }
  
  .fs-3 {
    font-size: 1.5rem;
  }
  
  .fs-4 {
    font-size: 1.25rem;
  }
  
  .text-success {
    color: #28a745;
  }
  
  .mb-3 {
    margin-bottom: 20px;
  }
  