
.bg1
{
  background-image: url("home1.jpg");
  background-size: cover;

}
.background-image {
  background-image: rgb(243, 193, 193);
  background-size: cover;
  background-position: center;
}

h1 {
  text-align: center;
  font-family:"Brush Script MT";
  font-weight:lighter ;
  font-size: 100px;
  color: #333333;
  padding-top: 5%;
  /* margin-bottom: 20px; */
}

p {
  text-align: center;
  font-family: cursive;
  font-size: 20px;
  color: #666666;
  /* margin-top: auto;
  margin-bottom: auto; */
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
h4 {
  font-family: "Montserrat Medium";
  max-width: 40ch;
  font-family:'Times New Roman', Times, serif;
  font-size: 8%;
  text-align: center;
  margin-left: 260px;
  display:flexbox;
  transform: scale(0.94);
  
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    /* font-size: 50px; */
}





@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}.animate-charcter
{
  font-family:Algerian;
  margin-left: 400px;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 90px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}